{% extends "base.html" %}
{% load socialaccount %}
{% load widget_tweaks %}
{% load static %}

{% get_providers as socialaccount_providers %}

{% block title %}
  login
{% endblock title %}

{% block main %}
<div>{{socialaccount_providers.0.app.name}}</div>
{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<div>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</div>
{% endfor %}
{% endif %}
<div class="my-2">
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
     <img 
      src="
     {% with 'img/'|add:provider.name|add:'.png' as image %}
      {% static image %}
     {% endwith %}
     " alt="{{ provider.name }}" height="50" width="300"/>
     </a>
</div>
{% endfor %}

  <div class="flex justify-center items-center flex-col">
    <div class="p-12 bg-slate-100 mx-auto rounded-2xl w-100 flex justify-center item flex-col gap-4">
      <h1 class="text-black">Login</h1>
      <form method="POST">
        {% csrf_token %}
        <div class="flex flex-col gap-2">

          {% render_field form.username placeholder="username" class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
          {% render_field form.password placeholder="password" class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
          <div class="m-4 flex justify-center gap-4">
            <button type="submit" class="btn btn-accent">Login</button>
            <a class="btn" href="{% url 'signup' %}">Create Account</a>
          </div>

        </div>
      </form>
      <hr>
      <div class="my-2">
        <a title="GitHub" class="socialaccount_provider github" 
           href="{% provider_login_url "github" process="login" scope=scope auth_params=auth_params %}">
           <img src="{% static 'img/github.png' %}" height="50" width="300"/>
        </a>
      </div>
      <div class="my-2">
        <a title="Google" class="socialaccount_provider google" 
           href="{% provider_login_url "google" process="login" scope=scope auth_params=auth_params %}">
           <img src="{% static 'img/google.png' %}" height="50" width="300"/>
        </a>
      </div>

    </div>

  </div>
{% endblock main %}

