{% block main %}

<div class="flex justify-center items-center flex-col">
  <div class="p-12 bg-white mx-auto rounded-2xl w-100 flex justify-center item flex-col gap-4">
    <h1>Signup</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <div class="flex items-center item gap-4">
          <button type="submit" class="btn btn-accent">Signup</button>
          <a href="{% url 'login' %}" class="text-primary">Already have account?</a>

        </div>
    </form>
  </div>
</div>
{% endblock main %}