{% extends "base.html" %}
{% load partials %}
{% load static %}

{% block title %}
    vvocab
{% endblock title %}

{% block main %}



<div>
  {% if id %}
  <p>Video id: {{id}}</p>
  {% else %}
  <h1>Videos page</h1>

  {% endif %}

  <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
  {% partialdef video-player inline=True %}

  {{ id|json_script:"id-data" }}
  <div id="player"></div>
  <script src="{% static 'js/youtube-player.js' %}"></script>
  <button class="btn btn-primary" onclick="seekVideo(10, false)">seek test</button>
  {% endpartialdef %}

</div>

{% endblock main %}
