{% extends "base.html" %}
{% load partials %}
{% load static %}

{% block title %}
    vvocab
{% endblock title %}

{% block main %}



<div>
  {% if id %}
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    {% partialdef video-player inline=True %}
  
    <div class="flex flex-col gap-6 justify-center items-center ">
    <p>Video id: {{id}}</p>
  
      
      {{ id|json_script:"id-data" }}
      <div id="player"></div>
      <script src="{% static 'js/youtube-player.js' %}"></script>
    
      <div class="overflow-x-auto table-wrp block max-h-80">
        <table class="table table-zebra w-full">
          <!-- head -->
          <thead class="bg-accent-content border-b sticky top-0">
            <tr>
              <th>Start time</th>
              <th>Stop time</th>
              <th>Words</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="h-96 overflow-y-auto">
            {% for word in words %}
            <tr>
              <td>{{ word.start }}</td>
              <td>{{ word.start|add:word.duration }}</td>
              <td>{{ word.text }}</td>
              <td>
                <button class="btn btn-primary" onclick="seekVideo('{{word.start}}', false)">Seek</button>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  
    {% endpartialdef %}

  {% else %}
  <h1>Videos page</h1>

  {% endif %}

  

</div>

{% endblock main %}
